<div class="container">
  <p>
    <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="well">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br>
        <br>
        <a href="#" class="btn btn-warning btn-xs">Not interested</a><span class="text-warning">(102)</span>
        <a href="#" class="btn btn-success btn-xs">Definitely Going!</a><span class="text-success">(1233)</span>
        <a href="#" class="btn btn-link btn-xs">Comments</a><small><em>(12)</em></small>
        <span class="text-muted pull-right">Created By: Laurel on 11/28/16 at 12:30pm</span>
    </div>
    <div class="well">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <br>
      <br>
      <a href="#" class="btn btn-warning btn-xs">Not interested</a><span class="text-warning">(102)</span>
      <a href="#" class="btn btn-success btn-xs">Definitely Going!</a><span class="text-success">(1233)</span>
      <a href="#" class="btn btn-link btn-xs">Comments</a><small><em>(12)</em></small>
      <span class="text-muted pull-right">Created By: Laurel on 11/28/16 at 12:30pm</span>
  </div>
  <div class="well">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <br>
    <br>
    <a href="#" class="btn btn-warning btn-xs">Not interested</a><span class="text-warning">(102)</span>
    <a href="#" class="btn btn-success btn-xs">Definitely Going!</a><span class="text-success">(1233)</span>
    <a href="#" class="btn btn-link btn-xs">Comments</a><small><em>(12)</em></small>
    <span class="text-muted pull-right">Created By: Laurel on 11/28/16 at 12:30pm</span>
  </div>
  <ul class="pagination pull-right">
    <li class="diabled"><a href="#">.</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
  </ul>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Locations</div>
    <div class="panel-body" style="padding: 0px;">
        <div style="padding: 0px;">
          <div class="table-responsive" style="border-left: 0px;">
            <table class="table table-striped table-hover table-bordered" style="margin: 0px;">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Categories</div>
    <div class="panel-body" style="padding: 0px;">
        <div style="padding: 0px;">
          <div class="table-responsive" style="border-left: 0px;">
            <table class="table table-striped table-hover table-bordered" style="margin: 0px;">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>
